.root {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.clearAllButton {
    margin-left: 8px;
    padding: 0;
    font: var(--paragraph3);
    text-decoration: underline;
    cursor: pointer;
}
