.heroBanner {
    --marginBottom: 2vw;
    --bannerHeight: calc(100vh - var(--headerHeight) - var(--marginBottom));
    margin-bottom: var(--marginBottom);
    height: var(--bannerHeight);
    position: relative;
    color: var(--colorA1);
    background-color: var(--black);
}

.heroBannerOverlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    text-align: center;
    overflow: hidden;
    position: absolute;
    inset: 0;
}

.heroBannerImage {
    opacity: 0.8;
    object-fit: cover;
    object-position: 50% 50%;
    height: 100%;
    width: 100%;
}

.heroBannerSubtitle {
    width: 54%;
    font: var(--paragraph1);
    letter-spacing: 0.2em;
}

.heroBannerTitle {
    font: var(--heading1);
    font-size: clamp(60px, 6vw, 110px);
    text-transform: uppercase;
}

.floatingCardBackground {
    /* negate padding from <main> element */
    margin-inline: -2vw;

    padding: 7.8% 11.7%;
    aspect-ratio: 2;
}
