.title {
    font: var(--heading5);
    font-size: 26px;
}

.message {
    margin-top: 13px;
}

.orders {
    margin-top: 35px;
}

.orderListHeader,
.orderHeader {
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: stretch;
    gap: 20px;
}

.orderListHeaderSection,
.orderHeaderSection {
    padding: 0 12px;
    flex-basis: 100%;
}

.orderHeaderSectionName {
    display: none;
}

.orderListHeader {
    height: 35px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.orderList {
    border-top: 1px solid var(--primary5);
}

.emptyStateContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    border-top: 1px solid var(--primary3);
    border-bottom: 1px solid var(--primary3);
}

.emptyStateMessage {
    font: var(--heading6);
}

.startBrowsingLink {
    text-decoration: underline;
}

@media (max-width: 480px) {
    .orderListHeader {
        display: none;
    }

    .orderHeader {
        height: auto;
        padding: 8px 0;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
        font: var(--paragraph3);
    }

    .orderHeader > div {
        padding: 0;
    }

    .orderHeaderSectionName {
        display: inline;
    }

    .emptyStateContainer {
        padding: 40px 0;
    }
}
