$imageSize: 100px;

.root {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 24px;
}

.imageWrapper {
    width: $imageSize;
    height: $imageSize;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imagePlaceholderIcon {
    width: 50px;
    height: 50px;
    color: #fff;
}

.main {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.productDetails {
    margin-top: 12px;
    font: var(--paragraph3);
    color: var(--secondary3);
}

.orderInfo {
    width: calc((100% + $imageSize) / 2);
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 480px) {
    .main {
        flex-direction: column;
    }

    .orderInfo {
        width: 100%;
    }
}
