.root {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.moreOptionsButton {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    padding: 0;
    font: var(--paragraph3);
    cursor: pointer;
}

.moreOptionsButton:focus,
.moreOptionsButton:hover {
    color: var(--secondary3);
}

.moreOptionsIcon {
    width: 12px;
}

.root.expanded .moreOptionsIcon {
    transform: rotate(180deg);
}
