:where(.root) {
    /* Default styles. Customize them by passing a className to the component. */
    --option-size: 24px;
    --border-color: #bdbdbd;
    --border-color-hover: #212121;
    --border-color-selected: #757575;
    --border-color-error: #ff0000;
}

.root {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.option {
    height: var(--option-size);
    width: var(--option-size);
    border: 1px solid var(--border-color);
    border-radius: 50%;
    transition: padding 100ms;
    padding: 0;
    cursor: pointer;
}

.option:hover,
.option.selected {
    padding: 2px;
}

.option:hover {
    border-color: var(--border-color-hover);
}

.option.selected {
    border-color: var(--border-color-selected);
}

.colorBox {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.option:hover .colorBox,
.option.selected .colorBox {
    border: 1px solid var(--border-color);
}

.root.hasError .option {
    border-color: var(--border-color-error);
}

.crossedOut {
    position: relative;
    overflow: hidden;
}

.crossedOut::after {
    content: '';
    position: absolute;
    height: 1px;
    transform: rotate(-45deg);
    inset: -50%;
    margin: auto;
    border-top: 1px solid var(--border-color);
}

.crossedOut:hover::after {
    border-color: var(--border-color-hover);
}

.crossedOut.selected::after {
    border-color: var(--border-color-selected);
}
