.page {
    padding-bottom: 3%;
}

.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 32px;
    margin-top: 36px;
}

.productName {
    font: var(--heading3);
    font-size: 34px;
}

.sku {
    margin-top: 8px;
    font: var(--paragraph3);
    line-height: 1;
    color: var(--colorA4);
}

.price {
    margin-top: 16px;
    font: var(--heading5);
    font-size: 21px;
}

.description {
    margin-top: 14px;
    font: var(--paragraph2);
    line-height: 1.5;
}

.quantity {
    margin-top: 20px;
}

.quantityLabel {
    display: inline-block;
    margin-bottom: 8px;
    font-size: 15px;
}

.addToCartButton {
    width: 260px;
    margin-top: 28px;
}

.additionalInfoSections {
    margin-top: 24px;
}

.socialLinks {
    margin-top: 36px;
}
