@import '@styles/variables.scss';

.root {
    padding: 14px;
    width: 480px;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 14px;
}

/** Toast type: success */
.root.success {
    background-color: var(--colorE4);
}

/** Toast type: error */
.root.error {
    background-color: var(--error);
}

/** Toast type: unspecified */
.root.blank {
    background-color: var(--colorC3);
}

/** Toast type: loading */
.root.loading {
    width: max-content;
    min-width: 150px;
    text-align: center;
    background-color: var(--secondary1);
    color: var(--secondary4);
}

@media (max-width: $desktop-width) {
    .root,
    .root.loading {
        width: 100%;
    }
}

.message {
    font: var(--paragraph3);
    flex-grow: 1;
    line-height: 24px;
}

.closeButton {
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    flex: none;
    background: none;
    color: currentColor;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.enterAnimation {
    animation: fadeIn 0.5s ease forwards;
}

.exitAnimation {
    animation: fadeOut 0.5s ease forwards;
}
