@import '@styles/common.scss';

.root {
    margin: 60px 0px;
}

.title {
    font: var(--heading2);
    margin-bottom: 40px;
    text-align: center;
}

.section {
    width: 65%;
    margin: 0 auto 40px;
}

.subtitle {
    font-size: 22px;
    margin-bottom: 8px;
    text-align: center;
}

.text {
    text-align: center;
}

@media (max-width: $desktop-width) {
    .root {
        margin: 40px 0px;
    }

    .section {
        width: 80%;
    }
}

@media (max-width: $tablet-width) {
    .root {
        margin: 20 0px;
    }

    .title {
        font: var(--heading3);
        text-align: left;
    }

    .section {
        width: 100%;
        margin-bottom: 30px;
    }

    .subtitle {
        text-align: left;
    }

    .text {
        text-align: left;
    }
}
