.root {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 85vh;
    margin-bottom: 60px;
    gap: 6px;
}

.aboutSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 8px;
}

.subtitle {
    font: var(--heading2);
    font-size: 60px;
    max-width: 600px;
    margin-bottom: 6%;
}

.description {
    font-size: 22px;
    max-width: 80%;
}

.image {
    object-fit: cover;
    object-position: 46% 27%;
    height: 100%;
}

@media screen and (max-width: 1024px) {
    .root {
        min-height: 600px;
        margin-bottom: 40px;
    }

    .subtitle {
        font: var(--heading3);
        max-width: unset;
    }

    .description {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .root {
        min-height: 0;
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }

    .subtitle {
        font-size: 40px;
        margin-bottom: 5%;
    }

    .description {
        max-width: unset;
        font-size: 14px;
    }
}
