:root {
    --white: #FFFFFF;
    --black: #000000;
    
    --colorA1: #FEF9EC;
    --colorA2: #FFEFC7;
    --colorA3: #DAD3C1;
    --colorA4: #767165;
    --colorA5: #17110D;

    --colorB1: #CED0C4;
    --colorB2: #9FA295;
    --colorB3: #707365;
    --colorB4: #414434;
    --colorB5: #22241B;

    --colorC1: #D1BBD5;
    --colorC2: #A78FAC;
    --colorC3: #7D6283;
    --colorC4: #522C59;
    --colorC5: #29162D;

    --colorD1: #E3CDB2;
    --colorD2: #C6A071;
    --colorD3: #957855;
    --colorD4: #5B4B34;
    --colorD5: #32281C;

    --colorE1: #F5FED2;
    --colorE2: #EBFDA6;
    --colorE3: #B0BE7C;
    --colorE4: #767F53;
    --colorE5: #3B3F2A;
}
