:root {
    --white: #ffffff;
    --black: #000000;

    --colorA1: #fef9ec;
    --colorA2: #ffefc7;
    --colorA3: #dad3c1;
    --colorA4: #767165;
    --colorA5: #17110d;

    --colorB1: #ced0c4;
    --colorB2: #9fa295;
    --colorB3: #707365;
    --colorB4: #414434;
    --colorB5: #22241b;

    --colorC1: #d1bbd5;
    --colorC2: #a78fac;
    --colorC3: #7d6283;
    --colorC4: #522c59;
    --colorC5: #29162d;

    --colorD1: #e3cdb2;
    --colorD2: #c6a071;
    --colorD3: #957855;
    --colorD4: #5b4b34;
    --colorD5: #32281c;

    --colorE1: #f5fed2;
    --colorE2: #ebfda6;
    --colorE3: #b0be7c;
    --colorE4: #767f53;
    --colorE5: #3b3f2a;
}
