/* Viewport Breakpoints *******************************************************/

$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

/* Headings *******************************************************************/

.heading1 {
    font: var(--heading1);
}

.heading2 {
    font: var(--heading2);
}

.heading3 {
    font: var(--heading3);
}

.heading4 {
    font: var(--heading4);
}

.heading5 {
    font: var(--heading5);
}

.heading6 {
    font: var(--heading6);
}

/* Paragraphs *****************************************************************/

.paragraph1 {
    font: var(--paragraph1);
}

.paragraph2 {
    font: var(--paragraph2);
}

.paragraph3 {
    font: var(--paragraph3);
}

/* Text Page ******************************************************************/

.textPage {
    max-width: 60em;
    margin: 48px auto;
    text-align: center;
    font: var(--paragraph2);
}

.textPage a {
    text-decoration: underline;
}

.textPage h1 {
    font: var(--heading2);
}

.textPage h2 {
    font-size: 24px;
    text-transform: uppercase;
    margin: 36px 0 24px 0;
}

.textPage > div {
    margin-top: 24px;
}

@media (max-width: $tablet-width) {
    .textPage {
        margin-top: 24px;
        text-align: left;
    }

    .textPage h1 {
        font: var(--heading3);
    }

    .textPage h2 {
        font-size: 20px;
    }
}

/* Text Banner ****************************************************************/

.textBannerSection {
    min-height: 35vw;
    align-content: center;
}

.textBanner {
    padding: 0 14%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.textBannerSubtitle {
    font-family: var(--text-font);
    line-height: 1.4;
    font-size: 1.3vw;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 1%;
}

.textBannerTitle {
    font: var(--heading2);
    font-size: 4.3vw;
    line-height: 1.1em;
    margin-bottom: 1%;
}

/* Link Card ******************************************************************/

.linkCard {
    position: relative;
    isolation: isolate;
    display: grid;
    place-content: center;
    overflow: hidden;
    background-color: var(--black);
}

.linkCardBackground {
    position: absolute;
    z-index: 1;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    transition: transform 2.2s cubic-bezier(0.14, 0.4, 0, 1);

    .linkCard:hover > & {
        transform: scale(1.11);
    }
}

.linkCardTitle {
    z-index: 2;
    padding: 30px;
    text-transform: uppercase;
    color: var(--colorA1);
    font: var(--heading4);
    text-align: center;
}

/* Floating Card **************************************************************/

.floatingCard {
    width: 32%;
    aspect-ratio: 0.8;
    padding: 22px;
    background-color: var(--colorA2);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.floatingCardHeader {
    text-transform: uppercase;
    padding-bottom: 3px;
    border-bottom: 1px solid var(--black);
}

.floatingCardContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}

.floatingCardTitle {
    font-family: var(--heading-font);
    line-height: 1.2;
    font-size: 3.1vw;
    text-transform: uppercase;
    align-self: flex-end;
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    margin: 2% 0;
    text-wrap: balance;
}

.floatingCardDescription {
    margin-bottom: 10%;
    text-wrap: balance;
}

/* Miscellaneous **************************************************************/

.alternateBackground {
    background-color: var(--colorA3);
}

.rowOfCards {
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    gap: 4px;
    width: 100%;
    margin-bottom: 5%;
    aspect-ratio: 2.26;
}
