@import './variables.scss';

/* Headings *******************************************************************/

.heading1 {
    font: var(--heading1);
}

.heading2 {
    font: var(--heading2);
}

.heading3 {
    font: var(--heading3);
}

.heading4 {
    font: var(--heading4);
}

.heading5 {
    font: var(--heading5);
}

.heading6 {
    font: var(--heading6);
}

/* Paragraphs *****************************************************************/

.paragraph1 {
    font: var(--paragraph1);
}

.paragraph2 {
    font: var(--paragraph2);
}

.paragraph3 {
    font: var(--paragraph3);
}

/* Buttons ********************************************************************/

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    border: 1px solid var(--colorA5);
    font: var(--paragraph1);
    background-color: transparent;
    color: var(--colorA5);
    cursor: pointer;
    white-space: nowrap;
    transition: all 200ms ease;
    transition-property: background-color, color;
}

.button:disabled {
    border-color: transparent;
    background-color: var(--colorA3);
    color: var(--colorA1);
    cursor: default;
}

.button:not(:disabled):hover {
    background-color: var(--colorA5);
    color: var(--colorA1);
}

.primaryButton {
    background-color: var(--colorA5);
    color: var(--colorA1);
}

.primaryButton:not(:disabled):hover {
    background-color: transparent;
    color: var(--colorA5);
}

.mutedPrimaryButton {
    border-color: transparent;
    background-color: var(--colorB3);
    color: var(--colorA1);
}

.mutedPrimaryButton:not(:disabled):hover {
    background-color: rgba(112, 115, 101, 0.7);
    color: var(--colorA1);
}

/* Icons **********************************************************************/

.smallIcon {
    width: 20px;
    height: 20px;
}

/* Text Page ******************************************************************/

.textPage {
    max-width: 60em;
    margin: 48px auto;
    text-align: center;
    font: var(--paragraph2);
}

.textPage a {
    text-decoration: underline;
}

.textPage h1 {
    font: var(--heading2);
}

.textPage h2 {
    font-size: 24px;
    text-transform: uppercase;
    margin: 36px 0 24px 0;
}

.textPage > div {
    margin-top: 24px;
}

@media (max-width: $tablet-width) {
    .textPage {
        margin-top: 24px;
        text-align: left;
    }

    .textPage h1 {
        font: var(--heading3);
    }

    .textPage h2 {
        font-size: 20px;
    }
}

/* Hero Banner ****************************************************************/

.heroBanner {
    --bannerHeight: calc(100vh - var(--headerHeight) - var(--pagePaddingHoriz));
    margin-bottom: var(--pagePaddingHoriz);
    height: var(--bannerHeight);
    position: relative;
    color: var(--colorA1);
    background-color: var(--black);
}

.heroBannerOverlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    position: absolute;
    inset: 0;
    padding: 40px;
}

.heroBannerImage {
    opacity: 0.8;
    object-fit: cover;
    object-position: 50% 50%;
    height: 100%;
    width: 100%;
}

.heroBannerSubtitle {
    width: 54%;
    letter-spacing: 0.2em;
    padding-bottom: 12px;
}

.heroBannerTitle {
    font: var(--heading1);
    font-size: 6vw;
    text-transform: uppercase;
}

/* Text Banner ****************************************************************/

.textBannerSection {
    min-height: 35vw;
    padding: 50px 10px;
    align-content: center;
}

.textBanner {
    max-width: max(60vw, 500px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    font-family: var(--text-font);
    line-height: 1;
}

.textBannerTitle {
    margin-bottom: 10px;
    font-family: var(--heading-font);
    font-size: max(30px, 4.3vw);
    line-height: 1.1;
}

.textBannerSubtitle {
    margin-bottom: 15px;
    font-size: max(14px, 1.45vw);
    text-transform: uppercase;
    white-space: nowrap;
}

/* Link Card ******************************************************************/

.linkCard {
    container-type: inline-size;
    position: relative;
    isolation: isolate;
    display: grid;
    place-content: center;
    overflow: hidden;
    background-color: var(--black);
}

.linkCardBackground {
    position: absolute;
    z-index: 1;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    transition: transform 2.2s cubic-bezier(0.14, 0.4, 0, 1);

    .linkCard:hover > & {
        transform: scale(1.11);
    }
}

.linkCardTitle {
    z-index: 2;
    padding: 30px;
    text-transform: uppercase;
    color: var(--colorA1);
    font: var(--heading4);
    text-align: center;
}

@container (max-width: 300px) {
    .linkCardTitle {
        font-size: 30px;
    }
}

/* Floating Card **************************************************************/

.floatingCard {
    width: 32%;
    aspect-ratio: 0.8;
    padding: 22px;
    background-color: var(--colorA2);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.floatingCardHeader {
    text-transform: uppercase;
    padding-bottom: 3px;
    border-bottom: 1px solid var(--black);
}

.floatingCardContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}

.floatingCardTitle {
    font-family: var(--heading-font);
    line-height: 1.2;
    font-size: 3.1vw;
    text-transform: uppercase;
    align-self: flex-end;
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    margin: 2% 0;
    text-wrap: balance;
}

.floatingCardDescription {
    margin-bottom: 10%;
    text-wrap: balance;
}

/* Card Group *****************************************************************/

.cardGroup {
    display: flex;
    gap: 4px;
    margin-bottom: 5%;
}

.cardGroup > * {
    aspect-ratio: 0.75;
    flex: 1 1 0;
}

@media (max-width: $tablet-width) {
    .cardGroup {
        flex-direction: column;
        gap: 8px;
    }

    .cardGroup > * {
        flex: 0;
    }
}

/* Miscellaneous **************************************************************/

.alternateBackground {
    background-color: var(--colorA3);
}
