.heading1 {
    font: var(--heading1);
}

.heading2 {
    font: var(--heading2);
}

.heading3 {
    font: var(--heading3);
}

.heading4 {
    font: var(--heading4);
}

.heading5 {
    font: var(--heading5);
}

.heading6 {
    font: var(--heading6);
}

.paragraph1 {
    font: var(--paragraph1);
}

.paragraph2 {
    font: var(--paragraph2);
}

.paragraph3 {
    font: var(--paragraph3);
}
