@import './reset.scss';
@import './colors.scss';
@import './typography.scss';
@import './common.scss';
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    font: var(--paragraph1);
    color: var(--colorA5);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    place-items: center;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--colorA1);
}
