:root {
    // colors
    --white: #ffffff;
    --black: #000000;

    --nude0: #FEF9EC;
    --nude1: #FFEFC7;
    --nude2: #DAD3C1;
    --nude4: #17110D;

    --action1: #9FA295;
    --action2: #707365;

    --brown3: #5B4B34;

    --ff-decor: 'Marcellus', serif;
    --ff-default: 'Figtree', sans-serif;

    // fonts
    --logoText: 26px/1.2 var(--ff-decor);

    --heading1: 80px var(--ff-decor);
    --heading5: 20px/1.3 var(--ff-decor);

    --paragraph1: 16px/1.3 var(--ff-default);
    --paragraph3: 14px/1.6 var(--ff-default);
}
