/**
 * Reusable utility classes.
 */

/* Headings *******************************************************************/

.heading1 {
    font: var(--heading1);
}

.heading2 {
    font: var(--heading2);
}

.heading3 {
    font: var(--heading3);
}

.heading4 {
    font: var(--heading4);
}

.heading5 {
    font: var(--heading5);
}

.heading6 {
    font: var(--heading6);
}

/* Paragraphs *****************************************************************/

.paragraph1 {
    font: var(--paragraph1);
}

.paragraph2 {
    font: var(--paragraph2);
}

.paragraph3 {
    font: var(--paragraph3);
}

/* Buttons ********************************************************************/

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    border: 1px solid var(--primary5);
    font: var(--paragraph1);
    background: transparent;
    color: var(--primary5);
    cursor: pointer;
    white-space: nowrap;
    transition: all 200ms ease;
    transition-property: background-color, color;
}

.button:disabled {
    border-color: transparent;
    background: var(--primary3);
    color: var(--primary1);
    cursor: default;
}

.button:not(:disabled):hover {
    background: var(--primary5);
    color: var(--primary1);
}

.primaryButton {
    background: var(--primary5);
    color: var(--primary1);
}

.primaryButton:not(:disabled):hover {
    background: transparent;
    color: var(--primary5);
}

.mutedPrimaryButton {
    border-color: transparent;
    background: var(--secondary3);
    color: var(--primary1);
}

.mutedPrimaryButton:not(:disabled):hover {
    background: rgba(112, 115, 101, 0.7);
    color: var(--primary1);
}

.linkButton {
    border: none;
    background: transparent;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

.iconButton {
    border: none;
    background: transparent;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

.smallButton {
    padding: 5px 16px;
}

/* Inputs ********************************************************************/

.transparentInput {
    border: none;
    background: transparent;
    color: inherit;
}

.textInput {
    border: none;
    background: transparent;
    color: var(--primary5);
    font: var(--paragraph1);
    padding: 8px 0;
    border-bottom: solid 1px rgba(23, 17, 13, 0.4);
    box-shadow: none;

    &:disabled {
        color: var(--primary4);
        opacity: 0.5;
    }

    &:focus,
    &:hover:not(:disabled) {
        border-bottom-color: var(--primary5);
    }

    &::placeholder {
        color: var(--primary4);
    }
}

/* Icons **********************************************************************/

.smallIcon {
    width: 20px;
    height: 20px;
}

/* Text Page ******************************************************************/

.textPage {
    max-width: 60em;
    margin: 48px auto;
    text-align: center;
    font: var(--paragraph2);
}

.textPage a {
    text-decoration: underline;
}

.textPage h1 {
    font: var(--heading2);
}

.textPage h2 {
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 36px 0 24px 0;
}

.textPage > div {
    margin-top: 24px;
}

@media (max-width: 768px) {
    .textPage {
        margin-top: 24px;
        text-align: left;
    }

    .textPage h1 {
        font: var(--heading3);
    }

    .textPage h2 {
        font-size: 20px;
    }
}

/* Hero Banner ****************************************************************/

.heroBanner {
    margin-bottom: var(--pagePaddingHoriz);
    height: 100vh;
    position: relative;
    color: var(--primary1);
    background: #000;
}

.heroBannerOverlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    position: absolute;
    inset: 0;
    padding: 40px;
}

.heroBannerImage {
    opacity: 0.8;
    object-fit: cover;
    object-position: 50% 50%;
    height: 100%;
    width: 100%;
}

.heroBannerSubtitle {
    width: 54%;
    letter-spacing: 0.2em;
    padding-bottom: 12px;
}

.heroBannerTitle {
    font: var(--heading1);
    font-size: 6vw;
    text-transform: uppercase;
}

/* Text Banner ****************************************************************/

.textBannerSection {
    min-height: 35vw;
    padding: 50px 10px;
    align-content: center;
}

.textBanner {
    max-width: max(60vw, 500px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    font-family: var(--text-font);
    line-height: 1;
}

.textBannerTitle {
    margin-bottom: 10px;
    font-family: var(--heading-font);
    font-size: max(30px, 4.3vw);
    line-height: 1.1;
}

.textBannerSubtitle {
    margin-bottom: 15px;
    font-size: max(14px, 1.45vw);
    text-transform: uppercase;
    white-space: nowrap;
}

/* Link Card ******************************************************************/

.linkCard {
    container-type: inline-size;
    position: relative;
    isolation: isolate;
    display: grid;
    place-content: center;
    overflow: hidden;
    background: #000;
}

.linkCardBackground {
    position: absolute;
    z-index: 1;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    transition: transform 2.2s cubic-bezier(0.14, 0.4, 0, 1);

    .linkCard:hover > & {
        transform: scale(1.11);
    }
}

.linkCardTitle {
    z-index: 2;
    padding: 30px;
    text-transform: uppercase;
    color: var(--primary1);
    font: var(--heading4);
    text-align: center;
}

@container (max-width: 300px) {
    .linkCardTitle {
        font-size: 30px;
    }
}

/* Floating Card **************************************************************/

.floatingCard {
    width: 32%;
    aspect-ratio: 0.8;
    padding: 22px;
    background: var(--primary2);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.floatingCardHeader {
    text-transform: uppercase;
    padding-bottom: 3px;
    border-bottom: 1px solid #000;
}

.floatingCardContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}

.floatingCardTitle {
    font: var(--heading2);
    line-height: 1.2;
    font-size: max(26px, 3.1vw);
    text-transform: uppercase;
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    margin: 2% 0;
    text-wrap: balance;
}

.floatingCardDescription {
    margin-bottom: 8%;
    text-wrap: balance;
}

.floatingCardBackground {
    margin-inline: calc(-1 * var(--pagePaddingHoriz));
    padding: 8% 12%;
    aspect-ratio: 2;
}

@media (max-width: 1024px) {
    .floatingCard {
        width: 42%;
        aspect-ratio: 0.9;
    }

    .floatingCardBackground {
        padding: 10% 7%;
        aspect-ratio: 1.6;
    }
}

@media (max-width: 768px) {
    .floatingCard {
        width: 80%;
        margin: 0 auto;
    }

    .floatingCardBackground {
        padding-top: 20%;
        aspect-ratio: 0.9;
    }
}

@media (max-width: 480px) {
    .floatingCardHeader,
    .floatingCardDescription {
        font: var(--paragraph3);
    }
}

/* Cards Section **************************************************************/

.cardsSection {
    display: flex;
    gap: 4px;
    margin-bottom: 5%;
}

.cardsSection > * {
    aspect-ratio: 0.75;
    flex: 1 1 0;
}

@media (max-width: 768px) {
    .cardsSection {
        flex-direction: column;
        gap: 8px;
    }

    .cardsSection > * {
        flex: 0;
    }
}

/* Tabs **************************************************************/

.tabs {
    display: flex;
    border-bottom: 1px solid var(--secondary1);
    overflow: auto;
}

.tab {
    padding: 14px 30px;
    border-bottom: 4px solid transparent;
    flex-shrink: 0;
}

.tab:hover {
    border-bottom-color: var(--secondary2);
}

.tab.active {
    border-bottom-color: var(--secondary3);
}

@media (max-width: 768px) {
    .tab {
        padding: 14px 20px;
    }

    .tab.active {
        color: var(--primary4);
    }

    .tab.active,
    .tab:hover {
        border-bottom-color: transparent;
    }
}

/* Miscellaneous **************************************************************/

.alternateBackground {
    background: var(--primary3);
}

.ribbon {
    display: inline-block;
    vertical-align: middle;
    padding: 2px 12px;
    border-radius: 100px;
    background: var(--primary2);
    font: var(--paragraph3);
    text-transform: uppercase;
    white-space: nowrap;
}

.slider {
    --track-color: var(--secondary2);
    --range-color: var(--primary5);
    --thumb-color: var(--primary5);
    --focus-ring-color: inherit;
}

.colorSelect {
    --option-size: 20px;
    --border-color: var(--primary3);
    --border-color-hover: var(--primary5);
    --border-color-selected: var(--primary4);
    --border-color-error: var(--error-color);
}
