.productCard {
    display: flex;
    flex-direction: column;
}

.imageWrapper {
    position: relative;
    aspect-ratio: 3 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary2);
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imagePlaceholderIcon {
    width: 60%;
    max-width: 100px;
    min-width: 50px;
    color: var(--primary4);
}

.ribbon {
    position: absolute;
    top: 4%;
    left: 4%;
    padding: 2px 12px;
    border-radius: 40px;
    background: var(--primary2);
    font: var(--paragraph3);
}

.name {
    margin-top: 16px;
    margin-bottom: 4px;
    font-family: var(--heading-font);
    font-size: 16px;
    line-height: 20px;
}

.price {
    font: var(--paragraph2);
    line-height: 1.5;
}

.outOfStock {
    color: var(--primary4);
}

.skeleton > .imageWrapper {
    background: #f1ede7;
}
