.root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    /* Prevent elements with a z-index in .root from piercing through overlays
       that appear later in the DOM. */
    isolation: isolate;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 var(--pagePaddingHoriz);
}

.navigationProgressBar {
    --color: #7d6283;
}
