.root {
    margin: 0 calc(-1 * var(--pagePaddingHoriz));
    padding: 75px var(--pagePaddingHoriz);
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 75px;
}

.headerTitle {
    font: var(--heading3);
}

.headerDescription {
    width: 83%;
    font: var(--heading6);
    text-wrap: balance;
}

.products {
    display: grid;
    grid-auto-columns: minmax(0, 640px);
    grid-auto-flow: column;
    gap: 4px;
    width: 100%;
}

@media (max-width: 1024px) {
    .headerDescription {
        font:var(--paragraph2);
    }
}

@media (max-width: 768px) {
    .root {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .header {
        display: block;
        font: var(--heading4);
        margin-bottom: 40px;
    }

    .headerTitle {
        font: var(--heading4);
        margin-bottom: 16px;
    }

    .headerDescription {
        font:var(--paragraph3);
    }

    .products {
        grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
        grid-auto-flow: row;
        gap: 26px 10px;
    }
}
