.root {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(27, 17, 13, 0.3);
}

.open {
    display: block;
}

.drawer {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 420px;
    height: 100%;
    background-color: var(--colorA1);
}
