.root {
    padding: 0 var(--pagePaddingHoriz);
}

.topBar {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    border-bottom: 1px solid #000;
    font: var(--paragraph3);
}

.logo {
    font: var(--heading3);
    font-size: 26px;
}

.searchInput {
    margin-left: 8px;
    min-width: 4em;
    max-width: 14em;
}

.advertisingText {
    display: inline-block;
    margin-right: 16px;
    white-space: nowrap;
}

.navigation {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 16px;
}

.menu {
    font: var(--paragraph3);
}

.actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-self: start;
    height: 50px;
    padding: 0 8px;
    gap: 30px;

    & > * {
        flex: none;
    }
}

.cartButton {
    padding: 0;
}

.cart {
    transform: translateY(-2px);
}

.shopNow {
    text-align: center;
    line-height: 1;
    color: #000;
    padding: 3px 11px 4px;
    border-radius: 50px;
    border: 1px solid #000;
    cursor: pointer;
    white-space: nowrap;

    &:hover {
        background: var(--primary2);
        color: #000;
    }
}

.openMenuButton {
    display: none;
    padding: 0;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .menu {
        display: none;
    }

    .navigation {
        grid-template-columns: auto auto;
        align-items: center;
    }

    .openMenuButton {
        display: flex;
    }
}

@media (max-width: 768px) {
    .topBar {
        flex-direction: column-reverse;
        align-items: start;
        justify-content: center;
        font-size: 13px;
    }
}
