:root {
    --headerTopBarHeight: 50px;
    --headerNavigationHeight: 54px;
    --headerHeight: 104px;
}

.root {
    padding: 0 2%;
}

.topBar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--black);
    height: var(--headerTopBarHeight);
}

.logo {
    margin-right: auto;
    font: var(--heading3);
    font-size: 26px;
}

.advertisingText {
    margin: 0 16px;
    font: var(--paragraph3);
    white-space: nowrap;
}

.navigation {
    display: flex;
    align-items: center;
    height: var(--headerNavigationHeight);
    gap: 1rem;
}

.navigation .empty {
   width: 160px;
   flex-shrink: 1;
   flex-grow: 0;
}

.navigation .menu {
    flex-grow: 1;
}

.navigation .menu ul {
    display: flex;
    justify-content: center;
}

.navigation .actions {
    flex-shrink: 0;
    width: 160px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 8px;
}

.menuItem {
    display: block;
    padding: 10px;
    margin: 4px 8px;
    font: var(--paragraph3);
    line-height: 1;
    white-space: nowrap;
}

.menuItem:hover,
.menuItem.active {
    text-decoration: underline;
}

.logInLink {
    display: none;
    align-items: center;
    padding: 6px 7px;
    font: var(--paragraph3);
    white-space: nowrap;
}

.logInLink span {
    display: inline-block;
    padding: 0 7px;
}

.logInLink:hover span {
    opacity: 0.7;
}

.loginIcon {
    width: 22px;
    height: 22px;
}

.cart {
    margin-left: 8px;
    transform: translateY(-2px);
}

.shopNow {
    text-align: center;
    font: var(--paragraph3);
    line-height: 1;
    color: var(--black);
    padding: 3px 11px 4px;
    border-radius: 50px;
    border: 1px solid var(--black);
    cursor: pointer;
    white-space: nowrap;
    
    &:hover {
        background-color: var(--colorA2);
        color: var(--black);
    }
}
