.itemsGroup {
    display: flex;
    flex-wrap: wrap;
    gap: 0 max(10px, 1.2vw);
}

.itemsGroup > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max(45px, 5vw);
}

.itemsGroup .icon {
    height: 30px;
    overflow: hidden;
}

.demoWidth :global(.button) {
    width: 250px;
}

@media (max-width: 480px) {
    .demoWidth :global(.button) {
        width: 100%;
    }
}

.icon.menuIcon {
    padding-top: 4px;
}
