.page {
    padding: 20px 0 3%;
    display: flex;
    gap: 40px;
}

.navigation {
    flex: 0 0 200px;
}

.navigationTitle {
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(23, 17, 13, 0.2);
    margin-bottom: 16px;
    font: 20px / 1.3 'Marcellus', serif;
}

.categoryListItem {
    margin-bottom: 12px;
}

.categoryLink {
    font-size: 14px;
    line-height: 1.6;
}

.categoryLinkActive {
    color: rgb(112, 115, 101);
}

.categoryName {
    font: 42px / 1.2 'Marcellus', serif;
}

.categoryDescription {
    max-width: 672px;
    margin-top: 4px;
    font-size: 16px;
    line-height: 1.5;
}

.productsCount {
    margin-top: 46px;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 1.6;
}

.productsList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(404px, 100%), 1fr));
    gap: 20px 4px;
}
