.root {
    padding: 48px 0;
    min-height: 70vh;
    max-width: 40em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    text-align: center;
}

.title {
    font: var(--heading2);
}

.message {
    font: var(--paragraph1);
}
