.item:not(:last-child) {
    border-bottom: 1px solid rgba(118, 113, 101, 0.3);
}

.header {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.header:focus-visible {
    box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #116dff;
}

.title {
    font: var(--heading5);
    font-size: 18px;
}

.toggleIcon {
    width: 22px;
    height: 22px;
}

.content {
    display: grid;
    grid-template-rows: 0fr;
    padding-bottom: 0;
    transition: all 0.4s ease-in-out;
}

.contentVisible {
    grid-template-rows: 1fr;
    padding-bottom: 25px;
}

.contentInner {
    overflow-y: auto;
}
