.item:not(:last-child) {
    border-bottom: 1px solid rgba(118, 113, 101, 0.3);
}

.header {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.title {
    font: var(--heading5);
    font-size: 18px;
}

.toggleIcon {
    width: 22px;
    height: 22px;
}

.content {
    --transitionDuration: 0.4s;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows var(--transitionDuration) ease-in-out;
}

.expanded {
    grid-template-rows: 1fr;
}

.contentExpander {
    overflow: auto;
    transition: overflow 0s allow-discrete;
}

.expanded .contentExpander {
    // Prevent clipping outline and box-shadow after transition.
    overflow: visible;
    transition-delay: var(--transitionDuration);
}

.contentInner {
    padding-bottom: 25px;
}
