.root,
.root.link {
    cursor: pointer;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 12px;
}

.link {
    display: block;
    font: var(--paragraph3);
    line-height: 26px;
    text-align: center;
}
