.root {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.error {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--error-color);
    font: var(--paragraph3);
}
