.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 0 auto;
}

.title {
    font: var(--heading2);
}

.message {
    margin-top: 12px;
    font: var(--paragraph1);
    max-width: 75vw;
}

.actionButton {
    margin-top: 24px;
}
