.root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
    height: 50px;
    cursor: pointer;
    font: var(--heading5);
    font-size: 15px;
    letter-spacing: 0.04em;
}

.root:hover {
    transition: all 0.2s ease;
    letter-spacing: 0.15em;
}

.icon {
    width: 50px;
    height: 50px;
}
